[submodule "mkwebfont/contrib/woff2"]
	path = mkwebfont_fontops/contrib/woff2
	url = https://github.com/google/woff2
[submodule "mkwebfont-hb-subset/harfbuzz"]
	path = mkwebfont_hb-subset/harfbuzz
	url = https://github.com/harfbuzz/harfbuzz.git
[submodule "mkwebfont_kuchikiki"]
	path = mkwebfont_kuchikiki
	url = git@github.com:Lymia/kuchikiki.git
